In [1]:
users = [
    { "id": 0, "name": "Hero" },
    { "id": 1, "name": "Dunn" },
    { "id": 2, "name": "Sue" },
    { "id": 3, "name": "Chi" },
    { "id": 4, "name": "Thor" },
    { "id": 5, "name": "Clive" },
    { "id": 6, "name": "Hicks" },
    { "id": 7, "name": "Devin" },
    { "id": 8, "name": "Kate" },
    { "id": 9, "name": "Klein" },
    { "id": 10, "name": "Jen" }
]

friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
               (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [2]:
# first give each user an empty list
for user in users:
    user["friends"] = []

In [4]:
# and then populate the lists with friendships
for i, j in friendships:
    users[i]["friends"].append(users[j])
    users[j]["friends"].append(users[i])

In [7]:
users[4]["friends"]

[{'friends': [{'friends': [{'friends': [{...},
       {'friends': [{...}, {...}, {...}], 'id': 2, 'name': 'Sue'}],
      'id': 0,
      'name': 'Hero'},
     {'friends': [{'friends': [{...}, {...}], 'id': 0, 'name': 'Hero'},
       {...},
       {...}],
      'id': 2,
      'name': 'Sue'},
     {...}],
    'id': 1,
    'name': 'Dunn'},
   {'friends': [{'friends': [{'friends': [{...}, {...}, {...}],
        'id': 1,
        'name': 'Dunn'},
       {...}],
      'id': 0,
      'name': 'Hero'},
     {'friends': [{'friends': [{...}, {...}], 'id': 0, 'name': 'Hero'},
       {...},
       {...}],
      'id': 1,
      'name': 'Dunn'},
     {...}],
    'id': 2,
    'name': 'Sue'},
   {'friends': [...], 'id': 4, 'name': 'Thor'}],
  'id': 3,
  'name': 'Chi'},
 {'friends': [{'friends': [...], 'id': 4, 'name': 'Thor'},
   {'friends': [{...},
     {'friends': [{...},
       {'friends': [{...}, {...}], 'id': 7, 'name': 'Devin'},
       {'friends': [{...}], 'id': 9, 'name': 'Klein'}],
      'id': 8,
      'name': 'Kate'}],
    'id': 6,
    'name': 'Hicks'},
   {'friends': [{...},
     {'friends': [{'friends': [{...}, {...}], 'id': 6, 'name': 'Hicks'},
       {...},
       {'friends': [{...}], 'id': 9, 'name': 'Klein'}],
      'id': 8,
      'name': 'Kate'}],
    'id': 7,
    'name': 'Devin'}],
  'id': 5,
  'name': 'Clive'}]

In [9]:
def number_of_friends(user):
    return len(user['friends'])

In [12]:
total_connections = sum(number_of_friends(user) for user in users)

In [13]:
num_users = len(users)
avg_connections = total_connections / num_users

In [17]:
num_friends_by_id = [(user['id'], number_of_friends(user)) for user in users]

In [38]:
sorted(num_friends_by_id, 
       key = lambda x: x[1],
       reverse=True)

[(1, 3),
 (2, 3),
 (3, 3),
 (5, 3),
 (8, 3),
 (0, 2),
 (4, 2),
 (6, 2),
 (7, 2),
 (9, 1),
 (10, 0)]

In [39]:
from collections import Counter

In [40]:
def not_the_same(user, other_user):
    return user['id'] != other_user['id']

In [46]:
def not_friends(user, other_user):
    return all(not_the_same(friend, other_user) for friend in user['friends'])

In [52]:
def friends_of_friend_ids(user):
    return Counter(foaf['id'] for friend in user['friends']
                   for foaf in friend['friends'] if not_the_same(user, foaf)
                    and not_friends(user, foaf))

In [53]:
friends_of_friend_ids(users[3])

Counter({0: 2, 5: 1})

In [54]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                        (48000, 0.7), (76000, 6),
                        (69000, 6.5), (76000, 7.5),
                        (60000, 2.5), (83000, 10),
                        (48000, 1.9), (63000, 4.2)]

In [56]:
from collections import defaultdict
salary_by_tenure = defaultdict(list)

In [57]:
for salary, tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)

In [59]:
average_salary_by_tenure = {
    tenure: sum(salaries) / len(selaries)
    for tenure, salaries in salary_by_tenure
}

TypeError: 'float' object is not iterable